.footer
  .container
    .row
      .col
        .footer_box
          .row
            .col
              p Facebook
            .col
              p Twitter
            .col
              p Google+
            .col
              p LinkedIn
            .col
              p Behance
            .col
              p Dribble
            .col
              p GitHub