header
    nav
        .container
            .row
                .col-md-3
                    a(href="")
                    img(src='./img/logo.png', alt='')
                .col-md-9 
                    ul
                        li
                            a(href="#") HOME
                        li
                            a(href="#") ABOUT
                        li
                            a(href="#") WORK
                        li
                            a(href="#") BLOG
                        li
                            a(href="#") CONTACT
